.wrapper {
    position: relative;
}
.main {
}
.final-page {
    height: 100%;
    /* padding-top: 99px; */
    padding-bottom: 23px;
}
.final-page__container {
    position: relative;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
}
.final-page__top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    height: 100%;
}
.final-page__check {
    max-width: 291px;
    max-height: 166px;
    position: relative;
}
.final-page__check-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.final-page__top-text {
    font-size: 11px;
    max-width: 121px;
    text-align: center;
    position: relative;
    left: 134px;
}
.final-page__top-text::after {
    content: url('../../assets/images/final-row.svg');
    position: absolute;
    bottom: 4px;
    right: -39px;
}
.final-page__bottom {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.final-page__bottom-text {
    font-size: 10px;
    width: 100%;
    text-align: center;
}
.final-page__bg-images {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.final-page__bg-images > * {
    position: absolute;
}
.final-page__bg-img-1 {
    top: -29px;
    left: 273px;
    width: 38px;
    transform: rotate(21deg);
    z-index: 1;
}
.final-page__bg-img-2 {
    top: 127px;
    left: -32px;
    width: 102px;
    transform: scaleX(-1) rotate(19deg);
    z-index: 5;
}
.final-page__bg-img-3 {
    top: 181px;
    left: 59px;
    max-width: 58px;
    transform: rotate(31deg) scale(0.8);
    z-index: 1;
}

.final-page__bg-img-1,
.final-page__bg-img-2,
.final-page__bg-img-3 {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.final-page__bg-img-1.visible,
.final-page__bg-img-2.visible,
.final-page__bg-img-3.visible {
  opacity: 1;
}
