.main {
}
.game-page {
    padding-top: 17px;
    padding-bottom: 20px;
}
.game-page__container {
    align-items: center;
}
.game-page__loss-text {
    font-size: 14px;
    color: #643638;
    text-align: center;
    max-width: 247px;
    margin-bottom: 10px;
}
.game-page__game-content {
    margin-bottom: 13.4px;
}
