.wrapper {
    overflow: hidden;
}

.main {
    position: relative;
    overflow: visible;
}

.main-page {
    padding-top: 120.4px;
    padding-bottom: 20px;
    height: 100%;
}
.main-page__container {
    position: relative;
    z-index: 5;
    align-items: center;
    justify-content: space-between;
}
.main-page__bg-images {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.main-page__bg-images > * {
    position: absolute;
}
.main-page__bg-img-1 {
    width: 134px;
    top: 84px;
    left: 208px;
    transform: scaleX(-1) rotate(-26deg);
    z-index: 1;
}
.main-page__bg-img-2 {
    width: 69px;
    top: 244px;
    left: 84px;
    transform: scaleX(-1) rotate(21deg);
    z-index: 10;
}
.main-page__bg-img-3 {
    width: 23px;
    top: 290px;
    left: 143px;
    transform: scaleX(-1) rotate(9deg);
    z-index: 1;
}
.main-page__bg-img-4 {
    width: 154px;
    top: -5px;
    left: -36px;
    transform: scaleX(-1) rotate(18deg);
    z-index: 1;
}
.main-page__bg-img-5 {
    width: 79px;
    top: -57px;
    left: 303px;
    transform: scaleX(-1) rotate(-27deg);
    z-index: 1;
}
.main-page__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.main-page__title {
    font-family: 'TipWarp';
    font-size: 78.2px;
    line-height: 68.4px;
    letter-spacing: -0.03em;
    text-align: center;
    max-width: 290px;
}
.main-page__pre-title {
    align-self: flex-end;
    padding-right: 10px;
    text-align: center;
    max-width: 132px;
}
.main-page__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
}
.main-page__bottom-text {
    text-align: center;
    max-width: 332px;
}

.main-page__bottom-text,
.main-page__pre-title,
.main-page__title,
.main-page__button,
.main-page__bg-img-1,
.main-page__bg-img-2,
.main-page__bg-img-3,
.main-page__bg-img-4,
.main-page__bg-img-5
{
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.main-page__bottom-text.visible,
.main-page__pre-title.visible,
.main-page__title.visible,
.main-page__button.visible,
.main-page__bg-img-1.visible,
.main-page__bg-img-2.visible,
.main-page__bg-img-3.visible,
.main-page__bg-img-4.visible,
.main-page__bg-img-5.visible
 {
  opacity: 1;
  transform: scale(1);
}
