.game-content {
    margin-bottom: 13.4px;
    position: relative;
}
.game-content__game-board {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 114px);
    grid-gap: 5px;
    justify-content: center;
    position: relative;
    z-index: 5;
}
.game-content__game-board.loss {
    padding-top: 0px;
}
.game-content__game-board.loss + .game-content__bg-images {
    top: 0px;
}
.game-content__bg-images {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
}
.game-content__bg-images > * {
    position: absolute;
}
.game-content__bg-img-1 {
    left: 112px;
}
.game-content__bg-img-2 {
    left: calc(118px + 112px);
    transform: rotate(180deg);
}
.game-content__bg-img-3 {
    top: -56px;
    right: 170px;
    transform: rotate(-90deg);
}
.game-content__bg-img-4 {
    top: 58px;
    right: 170px;
    transform: rotate(90deg);
}

.cell {
    width: 114px;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
}

.winning-line {
    position: absolute;
    height: 5px;
    background-color: black;
    transform-origin: 0 0;
    pointer-events: none;
}